{% extends "master.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Restricted Area - Customers
{% endblock %}

{% block subtitle %}
    List of all customers
{% endblock %}

{% block top_content %}
    <h1 class="title">Customers</h1>
    <h2 class="subtitle">
        This is a restricted area listing all customers - <span class="has-text-danger">Login required</span>
    </h2>
{% endblock %}

{% block content %}

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>info</th>
            <th>updated at</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        {% for val in data %}
            <tr>
                {% for item in val %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

{% block pagination %}
    <a class="pagination-previous" href="{{ url_for('testdata') }}">Back to Testing</a>
    <a class="pagination-next" href="{{ url_for('restricted_bikes') }}">Bikes</a>
{% endblock %}
