<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Bike Rental</title>
        <meta name="description" content="Weird template">
        <meta name="author" content="weirdloop">

        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>

        <script defer src="/static/js/fontawesome-all.js"></script>
        <link rel="stylesheet" href="/static/css/bulma.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#000"
                        },
                        "button": {
                            "background": "#f1d600"
                        }
                    },
                    "theme": "edgeless",
                    "position": "bottom-right"
                })
            });
        </script>
    {% endblock %}
</head>

<body>
<section class="hero is-fullheight is-dark">
    <div class="hero-head">
        {% include 'parts/navigation.html' %}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    {{ title }}
                </h1>
                <h2 class="subtitle">
                    {% block subtitle %}
                        this is the subtitle
                    {% endblock %}
                </h2>
                <div class="box">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="dude, where's my bike...?!">
                        </p>
                        <p class="control">
                            <a class="button is-success">
                                ¯\_(ツ)_/¯
                            </a>
                        </p>
                    </div>
                </div>

                <h2 class="subtitle">
                    As a company that can track your every move we would like to <strong>thank you</strong> for
                    choosing us,
                    we'll share all of your data and make lots of money! $_$
                </h2>

            </div>
        </div>
    </div>

    <div class="hero-footer has-text-centered">
        Copyright &copy 2019 - CBL
    </div>

</section>

</body>

</html>
