{% extends "master.html" %}

{% block head %}
    {{ super() }}
    <style>
        .map {
            height: 500px;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="/static/css/leaflet.css"/>
    <script src="/static/js/leaflet.js"></script>

    <script src="/static/js/leaflet-realtime.js"></script>
{% endblock %}

{% block title %}
    *YOUR* GPS data in *OUR* database!
{% endblock %}

{% block subtitle %}
    just because it has to happen I guess...
{% endblock %}

{% block top_content %}
    <h1 class="title">GPS tracking on a map! - <span class="has-text-danger">Login required</span></h1>
    <h2 class="subtitle">
        This is basically us proving to you that we're actually doing it ^^
    </h2>
{% endblock %}

{% block content %}
    <div id="map" class="map"></div>
    <script src="/static/js/rt-map.js"></script>

    <h3>Let's add some coordinates!</h3>

    <form action="" method="post" id="form" onsubmit="submitForm(event, this)">
        <div class="field">
            <input class="input is-rounded" type="text" name="bike_id" placeholder="bike id"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-rounded" type="text" name="gps_x" placeholder="latitude"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-rounded" type="text" name="gps_y" placeholder="longitude"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-rounded" type="text" name="status" placeholder="status"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-rounded" type="text" name="ts" placeholder="timestamp"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-rounded" type="text" name="info" placeholder="extra info"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <button class="button is-rounded is-large" type="submit">Add new coordinates</button>
        </div>
    </form>

    <br>
    <div id="responseText" class=""></div>

    <br>

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>id</th>
            <th>bike id</th>
            <th>lat</th>
            <th>lng</th>
            <th>status</th>
            <th>ts</th>
            <th>info</th>
            <th>created at</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        {% for val in data %}
            <tr>
                {% for item in val %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <script>
        function clear_notification(val) {
            console.log("onchange called!");
            let resArea = document.getElementById("responseText");
            resArea.className = "";
            resArea.innerHTML = "";
        }

        function submitForm(e, form) {
            e.preventDefault();

            const url = "{{ url_for('gps') }}";
            fetch(url, {
                method: "POST",
                body: new FormData(document.getElementById("form")),
            }).then(
                response => response.text()
            ).then(
                html => {
                    console.log(html);
                    let resArea = document.getElementById("responseText");
                    resArea.className += " notification is-warning";
                    resArea.innerHTML = html;
                    let table = document.getElementById("tableBody");
                    let row, cell;
                    let data = JSON.parse(html);

                    row = table.insertRow();
                    cell = row.insertCell();
                    cell.innerText = data.rec_id;
                    cell = row.insertCell();
                    cell.innerText = data.bike_id;
                    cell = row.insertCell();
                    cell.innerText = data.gps_x;
                    cell = row.insertCell();
                    cell.innerText = data.gps_y;
                    cell = row.insertCell();
                    cell.innerText = data.status;
                    cell = row.insertCell();
                    cell.innerText = data.ts;
                    cell = row.insertCell();
                    cell.innerText = data.info;
                    cell = row.insertCell();
                    cell.innerText = data.created_at;
                });
        }
    </script>

{% endblock %}
