{% extends "master.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block subtitle %}
    just do it!
{% endblock %}

{% block top_content %}
    <h1 class="title">Login</h1>
    <h2 class="subtitle">
        ..or no access for you!
    </h2>
{% endblock %}

{% block content %}

    <h3>Also, try and login!</h3>

    <form action="" method="post" id="form" onsubmit="submitForm(event, this)">
        <div class="field">
            <input class="input is-rounded" type="text" name="username" placeholder="username"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-rounded" type="password" name="password" placeholder="password">
        </div>
        <div class="field">
            <button class="button is-rounded is-large" type="submit">Login</button>
        </div>
    </form>

    <br>

    <div id="responseText" class=""></div>

    <script>
        function clear_notification(val) {
            console.log("onchange called!");
            let resArea = document.getElementById("responseText");
            resArea.className = "";
            resArea.innerHTML = "";
        }

        function submitForm(e, form) {
            e.preventDefault();

            const url = "{{ url_for('testdata') }}";
            fetch(url, {
                method: "POST",
                body: new FormData(document.getElementById("form")),
            }).then(
                response => response.text()
            ).then(
                html => {
                    console.log(html);
                    let resArea = document.getElementById("responseText");
                    resArea.className += " notification is-warning";
                    resArea.innerHTML = html;
                });
        }
    </script>
{% endblock %}
