<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Weird Stuff</strong> by <a href="https://www.weirdloop.com">Weirdloop</a>. Find me:
                <a class="icon" href="https://github.com/kmare">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
