<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='favicon.png') }}" alt="Check Back Later, a bike rental company"
                 width="32" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('home') }}">
                Home
            </a>
            <a class="navbar-item" href="{{ url_for('gps') }}">
                GPS Data
            </a>
            <a class="navbar-item" href="{{ url_for('testdata') }}">
                Testing
            </a>
            <a class="navbar-item" href="{{ url_for('about') }}">
                About Us
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-success"
                           href="{{ url_for('contact') }}">
                          <span class="icon">
                            <i class="far fa-envelope"></i>
                          </span>
                            <span>Contact Us</span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="{{ url_for('login') }}">
                          <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                          </span>
                        <span>
                        Login
                      </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
</script>
